<h1>Appointments for <%= @patient.name %> </h1>

<% @patient.appointments.each do |app| %>
    <p>
        Appointment with: <%= link_to app.doctor.name, doctor_path(app.doctor) %> on
        <%= app.appointment_datetime.strftime("%B %e,  %Y at  %H:%M") %>
    </p>
<% end %>