


<% @doctor.appointments.each do |appointment| %>
  <div><%= link_to appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M'), doctor_path(@doctor) %></div>
  <div><%= link_to appointment.patient.name, patient_path(appointment.patient) %></div>
<% end %>