<ul>
    <li><%= @doctor.name %></li>
    <li><%= @doctor.department %></li>

    <% @doctor.appointments.each do |app| %>
        <li><%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
    <% end %>

    <% @doctor.patients.each do |p| %>
        <li><%= link_to p.name, patient_path(p) %></li>
    <% end %>
<ul>